<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
	
    <!-- ============================================ -->
    <!-- AUTH CONTROLLER (Registro y Login) -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <!-- ============================================ -->
    <!-- USUARIO CONTROLLER -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.UsuarioController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController.do</url-pattern>
    </servlet-mapping>
    
    <!-- ============================================ -->
    <!-- PROFESIONAL CONTROLLER -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>ProfesionalController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.ProfesionalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfesionalController</servlet-name>
        <url-pattern>/ProfesionalController.do</url-pattern>
    </servlet-mapping>
    
    <!-- ============================================ -->
    <!-- SOLICITUD CONTROLLER -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>SolicitudController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.SolicitudController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SolicitudController</servlet-name>
        <url-pattern>/SolicitudController.do</url-pattern>
    </servlet-mapping>
    
    <!-- ============================================ -->
    <!-- CATEGORIA CONTROLLER -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>CategoriaController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.CategoriaController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoriaController</servlet-name>
        <url-pattern>/CategoriaController.do</url-pattern>
    </servlet-mapping>
    
    <!-- ============================================ -->
    <!-- CALIFICACION CONTROLLER -->
    <!-- ============================================ -->
    <servlet>
        <servlet-name>CalificacionController</servlet-name>
        <servlet-class>com.utp.myapp.controllers.CalificacionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CalificacionController</servlet-name>
        <url-pattern>/CalificacionController.do</url-pattern>
    </servlet-mapping>
    
    <!-- ============================================ -->
    <!-- PAGINAS DE BIENVENIDA -->
    <!-- ============================================ -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
